---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Owen Symes</h1>
    <h2>Full-stack .NET developer</h2>
    <img src="/profile.jpg" alt="Owen Symes" class="w-64" />
    <h4>About Me</h4>
    <p>
      Hi! I’m Owen. I’m a reliable, professional, full-stack developer with over
      20 years experience crafting .NET web applications in Australia, Malaysia,
      and New Zealand.
    </p>
    <p>
      My aim is to craft readable, maintainable code and make life easier for
      users. Everything I do is driven by a love of learning and sharing
      knowledge with others.
    </p>
    <ul>
      <li>💼 Working as a Senior Developer at The Law Store.</li>
      <li>
        🎓 Currently experimenting with .NET Aspire and dabbling in AstroJS
      </li>
      <li>📝 Trying out blogging as something new! How’s my driving?</li>
    </ul>
    <h4>Sidequests</h4>
    <p>
      <a href="https://www.panda.org.au"
        ><img src="panda.png" alt="PANDA" class="w-64" /></a
      >
    </p>
    <p>
      I volunteer as a Community Champion for Perinatal Anxiety &amp; Depression
      Australia (<a href="https://www.panda.org.au">PANDA</a>). To see whether
      what you may be experiencing or observing in a loved one could be a reason
      to seek help, try out their short <a
        href="https://www.panda.org.au/info-support/checklists"
        >mental health checklist</a
      >.
    </p>
    <p>
      <a href="https://www.seafordwetlandscommunitygarden.com"
        ><img
          src="swcg.png"
          alt="Seaford Wetlands Community Garden"
          class="w-64"
        /></a
      >
    </p>
    <p>
      I serve as a technical advisor/dogsbody for a team who are establishing a
      community garden in my neighbourhood. I've spun up <a href="">a website</a
      > for them which serves as an information hub and a place for members to sign-up,
      as well as providing general technical advice and best practices.
    </p>
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
  </article>
</BaseLayout>
